<!-- Banner -->
<section id="banner">
	<div class="inner">
		<h2>Carla Brenholtz</h2>
		<p>Makeup Artist</p>
		<ul class="actions">
			<li><a href="mailto:carlamakeup@gmail.com" class="button special">Contact</a></li>
		</ul>
	</div>
	<a href="#one" class="more scrolly">Learn More</a>
</section>
