<!-- Three -->
<section id="three" class="wrapper style3 special">
	<div class="inner">
		<header class="major">
			<h2>Accumsan mus tortor nunc aliquet</h2>
			<p>Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend<br /> fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.</p>
		</header>
		<ul class="features">
			<!-- images should be 432x291 -->
			<li class="image">
				<img src="assets/images/grid01.png" alt="">
			</li>
			<li class="image">
				<img src="assets/images/grid02.png" alt="">
			</li>
			<li class="image">
				<img src="assets/images/grid03.png" alt="">
			</li>
			<li class="image">
				<img src="assets/images/grid04.png" alt="">
			</li>
			<li class="image">
				<img src="assets/images/grid05.png" alt="">
			</li>
			<li class="image">
				<img src="assets/images/grid06.png" alt="">
			</li>
		</ul>
	</div>
</section>
